
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
		
        header {
            background-color: #359861;
            color: #fff;
            padding: 10px 0;
            text-align: center;
        }
        nav {
            display: flex;
            justify-content: center;
            background-color: #cc024c;
            padding: 10px;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 15px;
            font-weight: bold;
        }
        nav a:hover {
            text-decoration-line:underline;
			text-decoration-style:bolder;
        }
        .content {
            padding: 20px;
            max-width: 810px;
            margin: 0 auto;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			text-align:center;
		

        }
        footer {
            text-align: center;
            padding: 4px;
            background-color: #d2b279;
            color: #fff;
            position: fixed;
            bottom: 0;
            width: 100%;
        }